<div class="page-not-found centered">
  <div class="centered thank-you jumbotron">
<div class = "no-list">
<h1>"Sorry! @ <%= link_to "#{@name}", "https://twitter.com/#{@name}", target: "blank" %> doesn't have any Twitter lists. Please search for another user!"
</h1>

<div class = "search-form-div">
      <%= form_tag("/search", method: "get") do %>
        <%= label_tag(:name, "Find another Twitter user: @",class: "custom-label") %>
        <%= text_field_tag(:name,) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
</div>
</div>