<div class="services-section-2 parallax" data-stellar-background-ratio="0.5">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center">
                  <h1>Subscribe to Newsletter</h1>
                  <form class="newsletter-form">
                      <div class="row">
                          <div class="col-sm-4 col-sm-offset-4">
                              <div class="input-group">
                                <%= label_tag "name", "@" %>
                                  <!-- <label class="sr-only" for="subscribe-email">Email address</label> -->
                                  <%= text_field_tag :name, nil, class: 'form-control', id:"subscribe-email" %>
                                  <!-- <input type="email" class="form-control" id="subscribe-email" placeholder="Enter your email"> -->
                                  <span class="input-group-btn">
                                    <%= submit_tag "Search", class: 'btn btn-theme-color btn-lg'%>
                                      <!-- <button type="submit" class="btn btn-theme-color btn-lg">OK</button> -->
                                  </span>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>



<h1>Twitter Lists</h1>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:name, "Search for a Twitter user's lists: @") %>
  <%= text_field_tag(:name,) %>
  <%= submit_tag("Search") %>
<% end %>

<br>
<br>
<%= link_to "Home", "/" %>

