<div class = "search-results">
  <!-- <div class="parallax-overlay alpha"></div> -->
  <div class = "search-content-text-center">
    <div class = "search-form-div">
      <%= form_tag("/search", method: "get") do %>
        <%= label_tag(:name, "Find another Twitter user: @",class: "custom-label") %>
        <%= text_field_tag(:name) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>

    <div class = "format-results">

      <ol>
        <h4>"Select one of @ <%= link_to "#{@name}", "https://twitter.com/#{@name}", target: "blank" %>'s Twitter Lists" </h4>
        <% @subscriptions.each do |twitter_list| %>
        <li>
          <blockquote>
            <%= link_to twitter_list.name, list_members_path(twitter_list.id)%> 
          </blockquote>
        </li>
        <% end %>

        <% @owned_lists.each do |twitter_list| %>
          <li>
          <blockquote>
            <%= link_to twitter_list.name, list_members_path(twitter_list.id)%>
          </blockquote>
          </li>
        <% end %>
      </ol>
      
    </div>
  </div>
</div>