<h1>"Thanks for using Adjust-A-List!"</h1>

<h2><p> "Your list <%= link_to "#{@new_list.name}", "https://twitter.com/#{current_user.name}/lists/#{@new_list.name}"
%>  is now live on Twitter!"</h2></p>

<%= text_area :person, :name, value: "I just created a new Twitter list #{@new_list.name} https://twitter.com/#{current_user.name}/lists/#{@new_list.name} using @AdjustAList. Check it out! www.adjustalist.com", size: "100x30" %>
<br>
  <%= submit_tag("Tweet!") %>
  
<br>
<%= link_to "Back", "/search" %>
<%= link_to "Home", "/" %>